@page
@model LoginModel

@{
    ViewData["Title"] = "Logowanie";
}
    <div class="row">
        <div class="col-md-4 bg-white rounded border">
            <section class="p-3">
                <form id="account" method="post">
                    <h4>
                        <img src="/Images/Icons/Login.png">
                        Zaloguj się.
                    </h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group mb-2">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <button type="submit" class="btn btn-primary">Zaloguj</button>
                    </div>
                    <div class="form-group mb-2">
                       @* <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Zapomniałeś hasło?</a>
                        </p>*@
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Zarejestruj się</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
