@model ErrorViewModel
@{
    ViewData["Title"] = "Przepraszamy, coś poszło nie tak.";
}

<h2 class="text-danger">
    <img src="/Images/Icons/Error.png">
    Przepraszamy. Coś poszło nie tak.
</h2>

<h3>
@ViewBag.ExceptionMessage
</h3>