@{
    @model Classifieds.Core.ViewModels.HomePageViewModel
    ViewData["Title"] = "GameStrefa";
    
    if (ViewBag.Message != null) {
        <p id="homePageMessage" class="alert alert-info mt-4 mb-4">@ViewBag.Message</p>
    }
}

<form id="filterForm" class="row align-items-center">
    <div class="row col-9">
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Szukaj</button>
        </div>
        <div class="col">
            <input type="text" class="form-control" id="titleTextbox" placeholder="Szukaj ogłoszeń po tytule">
        </div>
    </div>
    <div class="col-3">
        @Html.DropDownListFor(x=>x.SortClassifieds.SortBy,Model.SortClassifieds.SortOptions,"Sortowanie",new { @class = "form-control", @id="sortDropdown", onchange="searchClassifieds()"})
    </div>
</form>

<div class="categories">
    @await Html.PartialAsync("_Categories", Model.Categories)
</div>

<div id="loading" class="d-none">
    <div class="alert alert-primary" role="alert">
        Ładuję...
    </div>
</div>

<div class="classifieds">
    @await Html.PartialAsync("_Classifieds",Model.Classifieds)
</div>

@section scripts
{
    <script type="text/javascript">

        var categoryId = 0;
        var title = String();

        function filter(title, id) {
            var sortBySelectedVal = $('#sortDropdown').val();
            $('#loading').attr("class", "d-block");
            $.ajax({
                type: "POST",
                url: "@Url.Action("FilterClassifieds", "Home")",
                data: { categoryId: id, title: title, sortBy: sortBySelectedVal },
                success: function (data) {
                    $('#classifiedsPartial').html(data);
                    $('#loading').attr("class", "d-none");
                },
                error: function (data) {
                    alert(data.message)
                    $('#loading').attr("class", "d-none");
                },
                dataType: "html"
            });
        };

        function filterCategory(id) {
            categoryId=id;
            filter(title,categoryId);
        };

        $('#filterForm').submit(function () {
            searchClassifieds();
            return false;
        });

        function searchClassifieds () {
            title = $('#titleTextbox').val();
            filter(title, categoryId);
        };

        setTimeout(function () {
            var homePageMessage = document.getElementById("homePageMessage");
            homePageMessage.classList.add("fadeOut");
        }, 5000);
                   
    
    </script>
}
