@{
    @model Classifieds.Core.ViewModels.HomePageViewModel
    ViewData["Title"] = "Ogłoszenia";
    
    if (ViewBag.Message != null) {
        <p id="homePageMessage" class="alert alert-info mt-4 mb-4">@ViewBag.Message</p>
    }
}

<form id="filterForm" class="row align-items-center">
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Szukaj</button>
    </div>
    <div class="col"> 
        <input type="text" class="form-control" id="titleTextbox" placeholder="Szukaj ogłoszeń po tytule">
    </div>
</form>

<div class="categories">
    @await Html.PartialAsync("_Categories", Model.Categories)
</div>

<div class="classifieds">
    @await Html.PartialAsync("_Classifieds",Model.Classifieds)
</div>

@section scripts
{
    <script type="text/javascript">

        var categoryId=0;
        var title = String();

        function filter(title,id) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("FilterClassifieds","Home")",
                data: { categoryId: id, title: title },
                success: function (data) {
                    $('#classifiedsPartial').html(data);
                },
                error: function (data) {
                    alert(data.message)
                },
                dataType: "html"
            });
        };

        function filterCategory(id) {
            categoryId=id;
            filter(title,categoryId);
        };

        $('#filterForm').submit(function () {
            title = $('#titleTextbox').val();
            filter(title, categoryId);
            return false;
        });

        setTimeout(function () {
            var homePageMessage = document.getElementById("homePageMessage");
            homePageMessage.classList.add("fadeOut");
        }, 5000);
                   
    
    </script>
}
